{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{% block main %}

    <h2>Какие цветы мне можно подарить</h2>

    <h3>Пионы</h3>

    <div>
        Хочу пионы Хочу пионы Хочу пионы Хочу пионы Хочу пионы Хочу пионы Хочу пионы Хочу пионы Хочу пионы Хочу пионы Хочу пионы Хочу пионы Хочу пионы 
        Хочу пионы Хочу пионы Хочу пионы Хочу пионы Хочу пионы Хочу пионы Хочу пионы Хочу пионы Хочу пионы Хочу пионы Хочу пионы Хочу пионыХочу пионы
        Хочу пионы Хочу пионы Хочу пионы Хочу пионы Хочу пионы Хочу пионы
    </div>
    <img src="{{url_for('static', filename='pion.jpg')}}">


    <h3>Розы</h3>

    <div>
        Хочу розы хочу розы хочу розы хочу розы хочу розы хочу розы хочу розы хочу розы хочу розы хочу розы хочу розы хочу розы хочу розы 
        хочу розы хочу розы хочу розы хочу розы хочу розы хочу розы хочу розы хочу розы хочу розы хочу розы хочу розы хочу розы 
        хочу розы хочу розы хочу розы хочу розы хочу розы хочу розы хочу розы хочу розы хочу розы хочу розы хочу розы хочу розы хочу розы
    </div>
    <img src="{{url_for('static', filename='roza.jpg')}}">


    <h3>Ромашки</h3>

    <div>
        Хочу ромашки хочу ромашки хочу ромашки хочу ромашки хочу ромашки хочу ромашки хочу ромашки хочу ромашки хочу ромашки
        хочу ромашки хочу ромашки хочу ромашки хочу ромашки хочу ромашки хочу ромашки хочу ромашки хочу ромашки 
        хочу ромашки хочу ромашки хочу ромашки хочу ромашки хочу ромашки хочу ромашки хочу ромашки хочу ромашки
        хочу ромашки хочу ромашки хочу ромашки хочу ромашки хочу ромашки хочу ромашки хочу ромашки хочу ромашки
        хочу ромашки хочу ромашки хочу ромашки хочу ромашки хочу ромашки хочу ромашки хочу ромашки хочу ромашки
    </div>
    <img src="{{url_for('static', filename='romashka.jpg')}}">


    <h3>Гипсофилы</h3>

    <div>
        Хочу цветошки хочу цветошки хочу цветошки хочу цветошки хочу цветошки хочу цветошки хочу цветошки хочу цветошки хочу цветошки
        хочу цветошки хочу цветошки хочу цветошки хочу цветошки хочу цветошки хочу цветошки хочу цветошки хочу цветошки хочу цветошки
        хочу цветошки хочу цветошки хочу цветошки хочу цветошки хочу цветошки хочу цветошки хочу цветошки хочу цветошки хочу цветошки 
    </div>
    <img src="{{url_for('static', filename='gips.jpg')}}">


    <h3>Астры</h3>
    <div>
        Хочу астры хочу астры хочу астры хочу астры хочу астры хочу астры хочу астры хочу астры хочу астры хочу астры хочу астры хочу астры
        хочу астры хочу астры хочу астры хочу астры хочу астры хочу астры хочу астры хочу астры хочу астры хочу астры хочу астры хочу астры
        хочу астры хочу астры хочу астры хочу астры хочу астры хочу астры хочу астры хочу астры хочу астры хочу астры хочу астры хочу астры 
    </div>
    <img src="{{url_for('static', filename='astra.jpg')}}">

    {% endblock %}
   