{% extends "base.html" %}

{% block lab %}Лабораторная работа 5
<p>
    <a href="/menu">Меню</a>
</p>

{% endblock %}

{% block main %}
    <form method="POST">
        <h1>Страница регистрации</h1>
        <div>
            <input type="text" name="username" placeholder="username">
        </div>

        <div>
            <input type="text" name="password" placeholder="password">
        </div>
        <button type="submit">Регистрация</button>
    
        <span style="color: red;"> {{ errors }} </span>
    </form>
{% endblock %}